.dashboard-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    padding: 20px;
    bottom: 30px;
  }
  
  .chart-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .notifications {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  mat-card {
    padding: 10px;
  }
  